/* 整体设置 */
.container {
	padding: 15px 10px;
}

/* 头部设置 */
#header {
	position: relative;
	padding-bottom: 12px;
}
#logo {
	width: 230px;
	height: 56px;
	background: url('img/logo.png') no-repeat;
}
#logo h1 {
	display: none;
}
#links {
	position: absolute;
	right: 0;
	top: 0;
}

/* 侧边栏设置（包含导航和帮助、关于信息） */
.sidebar li {
	list-style: none;
}
.sidebar ul {
	margin: 0;
	padding: 0;
}
.mainmenu {
	margin-bottom: 10px;
}
.mainmenu ul {
	border: 2px solid #3399FF;
	padding: 1px 1px 0;
	margin: 0;
}
.mainmenu li {
	margin-bottom: 1px;
	background: #008EE8 url('img/menu-bg.png') repeat-x;
	font-size: 14px;
	font-weight: 700;
}
.mainmenu li.active {
	background: #FE8B01 url('img/menu-bg-active.png') repeat-x;
}
.mainmenu li a {
	display: block;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	text-decoration: none;
	color: #FFF;
}
.sidebox {
	border: 2px solid #ACCAE4;
	margin-bottom: 10px;
}

.sidebox h5 {
	font-size: 14px;
	font-weight: 700;
	padding-left: 10px;
	background: #ACCAE4 url('img/box-bg.png') repeat-x;
	height: 26px;
	line-height: 26px;
	margin: 1px 1px 0;
}
.sidebox .content {
	padding: 10px;
	line-height: 20px;
}

/* main */
.breadcrumbs {
	overflow: hidden;
	margin: 5px 0 10px;
	padding-left: 20px;
	position: relative;
	color: #666;
}
.breadcrumbs .icon-position {
	position: absolute;
	left: 0;
	top: 1px;
}

.exlink {
	position: relative;
	margin: 5px 0 10px;
	padding-left: 20px;
	float: right;
}
.exlink .icon-category {
	position: absolute;
	left: 0;
	top: 1px;
}

/* icons */
.icon-position,
.icon-category {
	width:16px;
	height:16px;
	display: block;
}

.icon-position {
	background: url('img/icon-position.png') no-repeat;
}
.icon-category {
	background: url('img/icon-category.png') no-repeat;
}